@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
  --base: #b78b5a;
  --font: white;
  --font2: #adadad;
  --ligth: #f7f7f7;
  --ligth-text: black;
  --dark: black;
  --dark-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body {
  font-size: 13px;
}

.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

/* Header */
header {
  height: 100px;
  background-color: black;
  color: white;
}

header .logoimg {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  background-color: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

header .logoimg span {
  transform: rotate(-45deg);
}

header .menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header ul {
  display: flex;
  list-style: none;
}

header li a {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 11px;
  border-bottom: 5px solid transparent;
  color: var(--font);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

header li a:hover,
header .active a {
  border-bottom: 5px solid var(--base);
  color: #cccccc;
}

/* Main */
/* Área do banner */
.button {
  display: inline-block;
  background-color: var(--base);
  color: var(--font);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

.banner {
  height: calc(100vh - 100px);
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  text-transform: uppercase;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: calc(100% - 3px);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slideArea {
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner h1 span {
  color: #b28756;
}

.banner h2 {
  margin: 30px 0 20px 0;
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--base);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.banner .active {
  background-color: var(--base);
}

/* Área default */
.default {
  padding: 50px 0;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section-title {
  font-size: 20px;
  font-weight: bold;
}

.default .section-desc {
  margin: 10px 0 40px 0;
  font-size: 12px;
  color: var(--font2);
}

.default .section-body {
  max-width: 1140px;
  margin: auto;
}

.default.ligth {
  background-color: var(--ligth);
}

.default.ligth .section-title,
.default.ligth .section-body {
  color: var(--ligth-text);
}

.default.dark {
  background-color: var(--dark);
}

.default.dark .section-title,
.default.dark .section-body {
  color: var(--dark-text);
}

/* Áreas específicas */
/* Primeira section */
.section-aboutus {
  display: flex;
}

.section-aboutus--left {
  flex: 1;
}

.section-aboutus--left p {
  margin-right: 15px;
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
}

.section-aboutus--rigth {
  width: 520px;
  text-align: center;
}

.section-aboutus--rigth img {
  width: 480px;
  box-shadow: 0 5px 10px #333;
}

/* Segunda section */
.section-services {
  display: flex;
}

.section-service {
  flex: 1;
  padding: 15px;
  text-align: center;
  border-right: 1px solid #333;
}

.section-service:nth-child(2) {
  margin-top: -5.5px;
}

.section-service:first-child {
  border-left: 1px solid #333;
}

.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: var(--font2);
}

/* Terceira section primeira parte*/
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #cfcfcf;
  background-color: #ededed;
  border-radius: 30px;
  margin-bottom: 40px;
}

.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}

.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 1px solid #cfcfcf;
  font-weight: 300;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
  border-bottom: 5px solid var(--base);
}

.section-projects--filters li:first-child {
  border-left: 0;
}

/* Terceira section segunda parte*/
.section-projects--photos {
  width: 100vw;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-projects--photo {
  width: 280px;
}

.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-projects--photoarea img {
  width: inherit;
  height: inherit;
}

.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
}

.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}

/* Quarta section - team */
.bg-team {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

.section-team .sliders {
  width: 1000vw;
  height: 100%;
}

.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: var(--font);
  margin-right: 20px;
}

.section-team .slideArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--dark);
  padding: 30px;
}

.section-team-area .sliders-pointers {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--base);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.section-team-area .active {
  background-color: var(--base);
}

.section-team--avatar {
  width: 150px;
}

.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}

.section-team--role {
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}

.section-team--social {
  display: flex;
  margin-top: 20px;
}

.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #bebebe;
}

.section-team--social a:last-child {
  margin-right: 0;
}

.section-team--social a:hover {
  background-color: var(--base);
}

/* Section de depoimentos */
.section-happyclients {
  max-width: 750px;
  margin: auto;
  text-align: center;
}

.section-happyclients--name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.section-happyclients--role {
  font-weight: 600;
  margin-bottom: 30px;
}

.section-happyclients--text {
  margin-top: 20px;
  color: #7e7e7e;
}

.section-happyclients .sliders-pointers {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.section-happyclients .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--base);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.section-happyclients .active {
  background-color: var(--base);
}

/* Área de patrocinadores */
.sponsors {
  margin-bottom: 2px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 0 2px 2px #cfcfcf;
}

.sponsors-container {
  height: 148px;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors a {
  margin: 45px;
}

/* Área destinada a section prices */
.prices {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
}

.prices-plans {
  width: 255px;
  margin: 0 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.prices-plans--title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.prices-plans--price {
  font-size: 22px;
  font-weight: bold;
}

.prices-plans--duration {
  font-size: 9px;
  color: #aeaeae;
  text-transform: uppercase;
}

.prices-plans--included {
  margin-top: 20px;
  color: #7e7e7e;
  font-size: 11px;
}

.prices-plans .button {
  margin-bottom: 35px;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.prices-plans .button:hover,
.prices-plans .active {
  background-color: var(--base);
}

.border-bottom {
  border-bottom: 1px solid #d2d2d2;
}

/* Section de pacotes */
.ligth.bg-white {
  background-color: white;
}

.section-plans {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-wrap: wrap;
}

.section-plans > img {
  width: 380px;
  margin: 0 40px 40px 40px;
}

.section-plans-desc {
  max-width: 500px;
}

.section-plans-desc-container {
  display: flex;
  margin-bottom: 20px;
}

.section-plans-desc-container .img {
  margin-right: 30px;
}

.section-plans-desc-container--text h4 {
  margin: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.section-plans-desc-container--text p {
  line-height: 25px;
  font-weight: 300;
  color: #838383;
}

.section-plans-desc-container--text span {
  display: block;
  margin-top: 10px;
  text-transform: uppercase;
}

.section-body > .sliders-pointers {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.section-body .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--base);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.sliders-pointers > .active {
  background-color: var(--base);
}

.section-body > .container-button {
  display: flex;
  justify-content: center;
}

/* Section Some Facts */
.section-facts {
  display: flex;
}

.section-fact {
  flex: 1;
  padding: 15px;
  text-align: center;
}

.section-facte:nth-child(2) {
  margin-top: -5.5px;
}
.section-fact h3 {
  font-size: 33px;
  color: var(--base);
}

.section-fact .traco {
  width: 20px;
  height: 4px;
  background-color: #7e7e7e;
  margin: auto;
  margin-top: 5px;
}

.section-fact h4 {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 18px;
}

.section-fact p {
  margin-top: 10px;
  font-size: 13px;
  color: var(--font2);
}

/* Tell about us */
.tellabout-container {
  max-width: 1140px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  color: #aeaeae;
  font-weight: 600;
}

.tellabout div {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 30px;
}

.tellabout div:nth-child(2) {
  background-color: #33c4f0;
}

.tellabout div:nth-child(3) {
  background-color: #0f7cb4;
}

.tellabout div:nth-child(4) {
  background-color: #336296;
}

.tellabout div:nth-child(5) {
  background-color: #e84138;
}

.tellabout div:nth-child(6) {
  background-color: #b81c29;
}

/* Contact US */
.section-contactus {
  font-size: 11px;
  text-transform: uppercase;
  color: #aeaeae;
  font-weight: 600;
}

.section-contactus form {
  max-width: 500px;
  margin: auto;
  display: block;
  text-align: center;
}

.section-contactus label {
  display: inline-block;
  border-bottom: 1px solid #aeaeae;
  margin: 15px;
  padding: 15px 0;
  text-align: left;
}

.section-contactus input {
  margin-left: 5px;
  outline: 0;
  border: 0;
  background-color: var(--ligth);
}

.section-contactus label:nth-last-child(3),
.section-contactus label:nth-last-child(2) {
  width: calc(100% - 30px);
}

.section-contactus input:nth-last-child(3),
.section-contactus input:nth-last-child(2) {
  width: 70%;
}

.section-contactus .button {
  display: inline-block;
  background-color: var(--base);
  color: var(--font);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Section do mapa */
.section-map {
  background-image: url('../images/mapa.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.section-map--area {
  width: 100vw;
  max-width: 1140px;
  margin: auto;
}

.section-map--info {
  width: 50%;
  padding: 30px;
  background-color: white;
  color: #999;
}

.section-map--info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section-map--info-item--img {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #999;
  margin-right: 15px;
}

.section-map--info-item--img img {
  width: 15px;
}

/* Footer */
footer {
  background-color: black;
}

.footer-area {
  width: 100vw;
  max-width: 1140px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  color: white;
}

.footer-area > div {
  flex: 1;
  margin-right: 30px;
}

.footer-area > div:last-child {
  margin-right: 0;
}

.footer-area--contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-area--contacts-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #373737;
}

.footer-area--contacts-links a:hover {
  background-color: var(--base);
}

.footer-area--text {
  text-align: justify;
  color: var(--font2);
  line-height: 22px;
}

.footer-area--subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373737;
}

.footer-area--subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-area--subscribe form input {
  outline: 0;
  border: 0;
  background-color: #373737;
  color: #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  padding: 5px;
}

.footer-area--subscribe form input::placeholder {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #9e9e9e;
}

.footer-area--subscribe form .button {
  display: inline-block;
  background-color: var(--base);
  color: var(--font);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Meus contatos */
#meus_contatos {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

#meus_contatos img {
  margin-bottom: -0.25rem;
}
